<html lang="en">

   <%- include('./partials/title.ejs') %> 
        
</head>
<body>
    <div class="container">
        <h1>Ooooops, Sorry page not found -:)</h1>
    </div>
    
    <%- include('./partials/title.ejs') %> 
        
      

</body>
</html>