<html lang="en">
<%- include('./partials/title.ejs') %> 
</head>

<body>
   <div class="container">
       <h1>About our blogs</h1>
       <%- include('./partials/nav.ejs') %> 
       <br><br>
       <hr>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, possimus dolores sequi
            quae architecto id quidem deserunt, voluptatibus officia debitis ex. Nulla tenetur aspernatur obcaecati asperiores adipisci molestias dignissimos odio!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, possimus dolores sequi
            quae architecto id quidem deserunt, voluptatibus officia debitis ex. Nulla tenetur aspernatur obcaecati asperiores adipisci molestias dignissimos odio!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, possimus dolores sequi
            quae architecto id quidem deserunt, voluptatibus officia debitis ex. Nulla tenetur aspernatur obcaecati asperiores adipisci molestias dignissimos odio!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, possimus dolores sequi
            quae architecto id quidem deserunt, voluptatibus officia debitis ex. Nulla tenetur aspernatur obcaecati asperiores adipisci molestias dignissimos odio!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, possimus dolores sequi
            quae architecto id quidem deserunt, voluptatibus officia debitis ex. Nulla tenetur aspernatur obcaecati asperiores adipisci molestias dignissimos odio!
        </p>

   </div>

    
<%- include('./partials/footer') %> 
</html>